footer{
    padding: 1rem;
}

.footer{

    /* padding-block: 1rem ; */
    color: var(--color-pry);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.footer__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem; 
}

.footer__links li a:hover{
    color: var(--color-pry);
}


/* media queries */

@media screen and (max-width:600px) {
    .footer{
        flex-direction: column-reverse;
    }
    
}