*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  --color-bg:#3E3C6E;
  --color-pry:#FF959B;
  --color-bg-variant:#8873EF;
  --color-text-white: #fff;
  --color-text-black: #000;

  --transition: all 400ms ease;

  --container-lg: 76%;
  --container-md: 85%;
  --container-sm: 95%;
}

a{
  color: var(--color-text-white);
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  width: 100%;
  display: block;
}

body{
  /* position: relative; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  width: var(--container-lg);
  margin: 0 auto;
  max-width: 1920px;
}

img{
  width: 100%;
}

.btn{
  display: inline-block;
  background-color: var(--color-bg);
  color: var(--color-text-white);
  padding: 8px 19px;
  border-radius: 7px;
  transition: var(--transition);
}

.btn:hover{
  background-color: var(--color-pry);
}
section{
  width: 100%;
  /* margin-top: 4rem; */
  padding-top: 2rem;
  transition: var(--transition);
  padding-bottom: 2rem;
}

/******** Media queries *******/

@media screen and (max-width:1024px){
  .container{
    width: var(--container-md);
  }
  
}
@media screen and (max-width:600px){
  .container{
    width: var(--container-sm);
  }
  
}